
.stats{
display: flex;
flex-direction: row;
gap: 6px;
font-weight: 900;
filter: brightness(1.2);
font-size:medium;
margin:0 auto ;
margin-top: 1rem;
filter: brightness(0.95);
width: 90%;
height: auto;
justify-content: center;
font-size: 1.2rem;
}
.stat{
 color: rgb(255, 255, 255);
 font-weight: 400;
}