* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3e3e3d0;
}

#content {
    padding: 1rem;
    background-color: #fff;
    height: 85%;
    width: 90%;
    margin: 3rem auto;
    border-radius: 2rem;
}

#Titulo {
    margin-bottom: 1rem;
    font-weight: 600;
}

.Pokemons {
    display: grid;
   grid-template-columns: repeat(4 1fr);
    gap: 1.5rem;
    list-style: none;
    padding: 0;
}

.Pokemon {
    background-color: #49d0b0;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
}

.Pokemon .name {
    margin-bottom: -7px;
    text-transform: capitalize;
}

.Pokemon .number {
    color: black;
    text-align: right;
    opacity: 0.2;
    font-size: 1rem;
    position: relative;
    left: 7rem;
}

.Pokemon .detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding-left: 1rem;
    width: 100%;
    padding: 0 10px;
    gap: 15px 17px;
}

.Pokemon .detail .types {
    text-align: left;
    padding: 0;
    margin: 0;
    list-style: none;
    grid-column: 1;
    filter: brightness(1.2);
}

.Pokemon .detail .types li {
    color: white;
    padding: .25rem 1rem;
    font-size: .725rem;
    margin: .25rem 0;
    border-radius: 1rem;
}

.Pokemon .detail img {
    height: 3.7rem;
    object-fit: contain;
    grid-column: 2;
    max-width: 100px;
    object-fit: contain;
    padding: 0 30px 0 0;
}
#pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
#pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .925rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    height: 2rem;
    width: auto;
}
